*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color:#ADD8E6 ;
}

header, main, footer{
  width: 40%;
  margin: auto;
}

/* titolo giocho */
header{
  text-align: center;
  margin-top: 10px;
}

header h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 85px;
  text-shadow: 2px 2px #7B8F95;
}

/* corpo del sito con le carte */

main{
  text-shadow: 1px 1px #7B8F95;
}

section{
  margin-top: 20px;
}

.card{
  width: 23%;
  height: 240px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 2px 2px 3px #7B8F95;
  overflow: hidden;
  display:inline-block ;
  text-align: center;
}

.margin{
  margin-right: 16px;
}

.front img{
  width: 95%;
  background-size: cover;
  margin-top: 25px;
}

.front span{
  color:#E61986 ;
  font-size: 35px;
  line-height: 30px;
}

.front{
  visibility: hidden ;
  height: 100%;
}

.side{
  height: 100%;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: 90%;
}
.card:hover .front{
 visibility: visible;
}

.card:hover .side{
  visibility:hidden;
 }

.card:hover span{
  color:#E67919 ;
}

.card:hover{
  cursor: pointer;
}

.visual{
  visibility: visible;
}

.no-visual{
  visibility: hidden;
}

/* fine del sito */

footer{
  text-align: center;
  margin-top: 20px;
}

footer span{
  font-size: 22px;
}






