*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nerko One', cursive;
  background-color:#ADD8E6 ;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header, main, footer{
  width: 40%;
  margin: auto;
}

/* titolo giocho */
header{
  margin-top: 10px;
}

header h1{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 85px;
}

/* corpo del sito con le carte */

section{
  margin-top: 20px;
}

.card{
  width: 23%;
  height: 240px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display:inline-block ;
}

.margin{
  margin-right: 16px;
}

.front img{
  width: 95%;
  background-size: cover;
  margin-top: 25px;
}

.front span{
  position: absolute;
  width: 100%;
  color:#E61986 ;
  font-size: 35px;
  bottom: 5px;
  left: 0px;
}

.side{
  height: 100%;
  background-image: url(../img/pattern.png);
  background-size: contain;
}

.front.visual,
.card:hover .front{
 visibility: visible;
}

.front,
.card:hover .side,
.no-visual{
  visibility:hidden;
 }

.card:hover span{
  color:#E67919 ;
}

.card:hover{
  cursor: pointer;
}

/* fine del sito */

footer{
  margin-top: 20px;
}

footer span{
  font-size: 22px;
}